*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.App{
    background-color: #DDE6ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.project-heading{
    color: #27374D;
}